@import "variables.scss";

a {
    color: black;
    margin-right:0;
}

a:hover {
    color: black;
text-decoration: none;
}

.prft-main {
    &-blok {
        height: 10rem;
        font-size: 14rem;
        line-height: 8rem;
        padding:0;
        min-width:7rem;
        font-family: 'Share Tech Mono', monospace;
        color: black;
        text-decoration: none;
        
    }

    &-blok:hover {
        height: 10rem;
        font-size: 14rem;
        line-height: 8rem;
        min-width:7rem;
        font-family: 'Share Tech Mono', monospace;
        color:$color1;
    }

    &-blok-about::after{
        content: "  ABOUT ";
        font-size: 1rem;
        color: $color1;
        transform: rotate(-270deg);
        position: absolute;
        top:0;
        left:0;
        margin-left:-6px;
            }

    &-blok-portfolio::after{
        content: "PORTFOLIO";
        font-size: 1rem;
        color: $color1;
        transform: rotate(90deg);
        position: absolute;
        top:0;
        left:0;
        margin-left:-14px;
            }

    &-blok-contact::after{
        content: "  CONTACT  ";
        font-size: 1rem;
        color: $color1;
        transform: rotate(90deg);
        position: absolute;
        top:0;
        left:0;
        margin-left:-15px;
            }

    &-blok-skills::after{
        content: "   SKILLS  ";
        font-size: 1rem;
        color: $color1;
        transform: rotate(90deg);
        position: absolute;
        top:0;
        left:0;
        margin-left:-13px;
            }

    margin-top: 0px;
    height: 53rem;
    overflow: hidden;   
    color: $color2;
}

.prft-main-blok-social {
    margin-top: -0.4rem;
    padding: 0;
    font-size: 8rem;
    position: absolute;
    top:0;
    left:0;
}



